/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo do site , onde se definiu a fonte , a imagem de fundo e a cor do fundo */
body {
    font-family: Arial, sans-serif;
    background: url('ImagemFundo.png') no-repeat center center/cover;
    color: #982727;
}

/* Cabeçalho do site  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #7c0a0a; /* Transparência para o fundo do header */
    position: fixed;
    width: 100%;
    top: 0;
}

/* Logo presente no cabeçalho */
.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Elementos presentes no cabeçalho */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

/* Redirecionamento */
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

/* Onde ficam os elementos para cadastro */
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; /*100% da altura da tela */
    padding-left: 50px; /* Alinhar o formulário à esquerda */
    /* background-color:#982727; */
}


.form-container {
    background-color: rgba(0, 0, 0, 0); /* Fundo transparente para o formulário */
    padding: 40px;
    border-radius: 20px;
    width: 40%;
    height: 80%;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff; /* Cor do título */
}

p {
    margin-bottom: 20px;
    color: #ffffff;
}

p a {
    color: #ffffff;
    text-decoration: none;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 40px;
    /*background-color: #4B4B4B;  Fundo dos inputs */
    color: #ffffff;
    font-size: 16px;
    height: 70px;
    box-shadow: 5px 10px 18px red; 
            -webkit-box-shadow: 5px 10px 18px rgb(0, 0, 0); 
}

.buttons {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.btn-primary {
    background-color: #FF729F;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    height: 80px;
    width: 40%;
    margin-top: 18px; 
}

.btn-secondary {
    background-color: #4B4B4B;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    height: 80px;
    width: 40%;
    margin-top: 18px; 
}

.btn-primary:hover, .btn-secondary:hover {
    opacity: 0.8;
}


/* Estilos do corpo, header e outros elementos omitidos */

/* Footer */
footer {
    background-color: #7c0a0a; /* Cor do fundo do footer, baseada na paleta de cores da imagem */
    padding: 20px;
    text-align: center;
    color: #F2EDE9; /* Cor do texto do footer */
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

footer p {
    margin: 0;
}

